<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webzine</title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="./normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="main-nav">
        <div class="nav-container">
            <div class="logo">webzine</div>
            <ul class="nav-links">
                <li><a href="#first-issue">issue 01</a></li>
                <li><a href="#second-issue">issue 02</a></li>
                <li><a href="#third-issue">issue 03</a></li>
            </ul>
        </div>
    </nav>

    <h1>Interview with the last hope of russian underground—Leonid Kotelnikov aka Fake Trailers</h1>

    <div id="first-issue" class="section">
        <h2>issue 1: interview</h2>
        <div class="container">
            <!-- FIRST_ISSUE -->
        </div>
    </div>
    
    <div id="second-issue" class="section">
        <h2>issue 2: interview</h2>
        <div class="container">
            <!-- SECOND_ISSUE -->
        </div>
    </div>
    
    <div id="third-issue" class="section">
        <h2>issue 03: untitlement</h2>
        <div class="container">
            <!-- THIRD_ISSUE -->
        </div>
    </div>
    
    <footer>
        <div class="footer-container">
            <p>kabk coding y3</p>
        </div>
    </footer>
</body>
</html>